@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* heading */
.heading-1 {
  @apply text-3xl text-light-1 font-extrabold tracking-wide;
}

.heading-2 {
  @apply text-lg font-normal text-light-1 tracking-wider;
}

/* main */
.main-container {
  @apply flex min-h-screen flex-1 flex-col items-center md:bg-dark-1 bg-dark-2 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
}

/* top bar */
.topbar {
  @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-5;
}

/* left sidebar */
.leftsidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto bg-dark-2 pb-5 pt-28 max-md:hidden;
}

.leftsidebar_link {
  @apply relative flex justify-start gap-4 rounded-lg p-4 text-light-1 font-medium tracking-wider;
}

/* right sidebar */
.rightsidebar {
  @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
}

/* bottom bar */
.bottombar {
  @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg min-[400px]:px-7 md:hidden;
}

.bottombar_container {
  @apply flex items-center justify-between gap-3 min-[400px]:gap-5;
}

.bottombar_link {
  @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
}

/* no focus */
.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* no result */
.no-result {
  @apply text-center font-light text-light-2 tracking-wide;
}

/* links - card */
.icon-card {
  @apply text-light-3 text-2xl;
}

/* comment */
.comment-input {
  @apply p-0 m-0 w-full bg-transparent border-none outline-none text-light-2 font-medium tracking-wider placeholder:text-light-3 text-base !important;
}

.comment-button {
  @apply bg-primary-500 px-6 rounded-full !important;
}

/* tab */
.tabs-list {
  @apply w-full flex flex-row py-6 px-0 rounded-xl overflow-hidden bg-dark-3 !important;
}
.tabs-trigger {
  @apply bg-dark-3 w-full h-full flex flex-row gap-2 p-10 data-[state=active]:bg-dark-2 data-[state=active]:text-light-2 rounded-none !important;
}

/* account profile */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue-500 font-semibold text-base !important;
}

.account-form_input {
  @apply bg-dark-3 text-light-1 border-none outline-none !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7,26.8%,83.9);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}